body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif
}

#header_shadow,
.dropdown-menu {
    left: 0;
    top: 100%;
    position: absolute
}

.row {
    margin-left: 0;
    margin-right: 0
}

.container {
    padding-left: 0;
    padding-right: 0
}

a:focus,
a:hover {
    text-decoration: none
}

.navigation_menu {
    width: 100%;
    position: relative
}

#header_shadow {
    background: url(../images/shadow.png) top center no-repeat;
    right: 0;
    height: 20px;
    z-index: 99;
    width: 100%
}

.navbar-default {
    background-color: transparent;
    border: 0
}

.navbar .nav-menu>.active>a,
.navbar .nav-menu>.active>a:focus,
.navbar .nav-menu>.active>a:hover,
.navbar .nav-menu>.open>a,
.navbar .nav-menu>.open>a:focus,
.navbar .nav-menu>.open>a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
    -moz-box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
    box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
    color: #fff;
    font-family: Arimo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px
}

.navbar-default .navbar-nav>li {
    margin-right: 7px
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Arimo, Arial, Helvetica, sans-serif;
    font-weight: 400;
	display : inline-block;
    font-size: 15px;
    padding: 10px 20px

}

.dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    font-weight: 400;

    font-family: Arimo, Arial, Helvetica, sans-serif
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
    -moz-box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
    box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
    font-size: 15px
}

.dropdown-menu {
    right: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-clip: padding-box;
    border: 0 solid #fff;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    text-transform: uppercase;
    font-family: Arimo, Arial, Helvetica, sans-serif
}

.dropdown-menu>li>a {
    display: block;
    padding: 7px 32px 12px 10px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    -webkit-transition: padding .4s;
    -moz-transition: padding .4s;
    transition: padding .4s
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 7px 20px 12px 22px;
    font-family: Arimo, Arial, Helvetica, sans-serif
}
.dropdown-menu>li>a{
    align-items: center;
}
.dropdown-menu>li>a:before {
    margin-right: 10px;
    opacity: 0;
    font-size: 16px;
    content: "\f105";
    content: '';
    display: block;
    border-top: solid 2px ##e91e63;
    border-right: solid 2px ##e91e63;
    transform: rotate(50deg);
    height: 6px;
    background: #fff0;
    width: 6px;
    transform: rotate;
    align-items: center;
    display: flex;
}

.dropdown-menu>li>a:hover:before {
    opacity: 1
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    outline: 0
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    color: #999
}

.navbar-nav>.open>a:after {
    content: "\f0d8";
    font-family: FontAwesome;
    position: absolute;
    z-index: 9999;
    bottom: -6px;
    left: 80%;
    margin-left: -10px;
    font-size: 26px;
    color: #1fa67a;
    display: none
}

.breadcrumb,
.dropdown-submenu {
    position: relative
}

.navbar-brand,
.navbar-brand:hover {
    float: left;
    height: 50px;
    padding: 28px 20px 28px 50px;
    line-height: 20px;
    font-size: 30px;
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Lato
}

.breadcrumb,
.breadcrumb li {
    display: inline-block
}

.navbar-right .dropdown-menu {
    right: 0;
    right: auto
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #999
}

.navbar-brand {
    margin-bottom: 30px
}
*{
    word-wrap: break-word;
}
.nav-pills>li>a,
.nav-stacked>li>a,
.nav-tabs li a {
    font-family: 'Open Sans', sans-serif
}

.navbar-collapse {
    /* max-height: 340px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0 solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1) */
}

.navbar-toggle,
.navbar-toggle:hover {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 28px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #049CFD;
    background-image: none;
    border: 1px solid #049CFD;
    border-radius: 4px
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #049CFD
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navber {
    border-top: none
}

.fa-angle-down {
    font-size: 18px!important;
    float: right;
    padding-left: 5px;
    margin-right: -13px
}

/*.dropdown-submenu>.dropdown-menu {
    top: 6px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px
}*/

.dropdown-submenu .pull-left {
    float: none
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px
}

.carousel-indicators .active,
.carousel-indicators li {
    width: 19px;
    height: 19px
}

.enigma_header_breadcrum_title {
    margin-bottom: 70px;
    background: #edf0f2;
    opacity: 1;
    padding-top: 8px;
    padding-bottom: 8px
}

.enigma_header_breadcrum_title h1 {
    color: #777;
    word-wrap: break-word;
}

.breadcrumb {
    font-size: 17px;
    padding: 0;
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    list-style: none
}

.btn-search,
.form-control,
.progress {
    border-radius: 0
}

.breadcrumb li a {
    color: #31A3DD
}

.breadcrumb>.active {
    color: #000
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: "/\00a0"
}

.progress {
    height: 25px;
    margin-bottom: 12px
}

.progress-bar {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    background-color: ##e91e63;
    padding-left: 20px
}

.enigma_blog_right_side {
    float: right
}

.enigma_sidebar_left_side {
    float: left
}

.btn-search {
    color: #fff;
    background: #31A3DD;
    font-size: 14px
}

.nav-pills {
    margin-bottom: 50px
}

.nav-pills>li>a {
    background: #fff;
    color: #3b3b3b;
    border: 3px solid #31A3DD;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 0;
    padding: 9px 27px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #31A3DD 50%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.nav-pills>li>a:hover {
    color: #fff;
    background-position: 0 -100%
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #31A3DD 50%, #31A3DD 50%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.nav-stacked {
    margin-bottom: 50px
}

.nav-stacked>li>a {
    background: #fff;
    color: #3b3b3b;
    border: 3px solid #31A3DD;
    margin-bottom: 12px;
    border-width: 3px!important;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #31A3DD 50%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.nav-stacked>li>a:hover {
    color: #fff;
    background-position: 0 -100%
}

.nav-stacked>li.active>a,
.nav-stacked>li.active>a:focus,
.nav-stacked>li.active>a:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #31A3DD 50%, #31A3DD 50%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.nav-tabs li a {
    background: #F5F5F5;
    color: #666;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    margin-right: 0;
    font-weight: 600
}

.nav-tabs li.active>a {
    border: 1px solid #e8e8e8;
    background: #fff;
    color: #555;
    border-bottom-color: transparent
}

.nav-tabs li>a:hover {
    border: 1px solid #e8e8e8;
    background: #fff;
    color: #555
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) 0 10px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) 0 10px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) 0 10px rgba(0, 0, 0, .175)
}

.panel-default {
    border-color: #e9e9e9
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f6f6f6;
    border-color: #e9e9e9
}

.enigma_panel-pink {
    border-color: #F22853
}

.enigma_panel-pink>.panel-heading {
    color: #fff;
    background-color: #F22853;
    border-color: #F22853
}

.enigma_panel-green {
    border-color: #1FA67A
}

.enigma_panel-green>.panel-heading {
    color: #fff;
    background-color: #1FA67A;
    border-color: #1FA67A
}

.enigma_panel-black {
    border-color: #000
}

.enigma_panel-black>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.enigma_panel-orange {
    border-color: #ff8300
}

.enigma_panel-orange>.panel-heading {
    color: #fff;
    background-color: #ff8300;
    border-color: #ff8300
}

.enigma_panel-blue {
    border-color: #31A3DD
}

.enigma_panel-blue>.panel-heading {
    color: #fff;
    background-color: ##e91e63;
    border-color: #31A3DD
}

.enigma_panel-red {
    border-color: #db2723
}

.enigma_panel-red>.panel-heading {
    color: #fff;
    background-color: #db2723;
    border-color: #db2723
}

.enigma_panel-purple {
    border-color: purple
}

.enigma_panel-purple>.panel-heading {
    color: #fff;
    background-color: purple;
    border-color: purple
}

.enigma_panel-brown {
    border-color: #555
}

.enigma_panel-brown>.panel-heading {
    color: #fff;
    background-color: #555;
    border-color: #555
}

.input-group-btn {
    display: inherit
}

#searchform .btn {
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    width: 62px
}

#searchform .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 13px
}

.input-group {
    margin-top: 15px;
    margin-bottom: 15px
}